name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies & test
        run: |
          npm install
          npm test

      - name: Build Docker image
        run: docker build -t ${{ secrets.ECR_REPO }}:${{ github.sha }} .

      - name: Push to ECR
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${{ secrets.ECR_REPO }}
          docker push ${{ secrets.ECR_REPO }}:${{ github.sha }}

      - name: Deploy to EKS
        run: |
          aws eks update-kubeconfig --region us-east-1 --name springct-cluster
          kubectl set image deployment/nodejs-app nodejs-app=${{ secrets.ECR_REPO }}:${{ github.sha }}
